<header id="header">
    <a class="logo" href="/">Hello <span>node!</span></a>

    <nav id="nav">
        <ul>
            <li>
                <% if(session.username) { %><a> <%= session.username %>님 환영합니다. </a><% } %> <% if(!session.username){ %>
                <a href="/users/login" class="login" name="login">login</a>
                <a href="/users/signup" class="signup" name="signup">Signup</a>
                <% }else{ %>
                <a href="/users/logout" class="logout" name="logout">Logout</a>
                <% } %>
                <a href="/board/list" class="board list" name="boardlist">Board</a>
                <a href="/chatting/chat" class="chat" name="chat">Chatting</a>
            </li>
        </ul>
    </nav>
</header>
