<header id="header">
    <a class="logo" href="/">Hello <span>node!</span></a>

    <nav id="nav">
        <ul>
            <li id="LoginUsername"></li>
            <li class="current"><a href="/">Home</a></li>
            <li>
                <a href="/users/login" class="login">login</a>
                <a href="/users/signup" class="signup">Sign up</a>
                <a href="/users/logout" class="logout" style="display: none;">Logout</a>
            </li>
        </ul>
    </nav>
</header>
