<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <% include ../partial/header %>
        <div id="main">
            <div class="wrapper">
                <div class="inner">
                    <h3>Chat</h3>
                    <div class="form">
                        <div class="box">
                            <div id="chatbox" style="overflow: auto; height: 180px;" rows="6" placeholder="Message" readonly>
                                >>비속어 욕설 등은 금지됩니다.
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field">
                                <input class="jsChat" type="text" placeholder="채팅 쳐" />
                            </div>
                        </div>
                        <ul class="actions special">
                            <li><button onclick="send()" class="button">완료</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const user = "<%= session.username%>";
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/assets/js/socket.js"></script>
        <% include ../partial/footer %>
    </body>
</html>
