<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <% include ../partial/header %>
        <div id="main">
            <div class="wrapper">
                <div class="inner">
                    <h3>Chat</h3>
                    <div class="box">>><strong>개소리를 늘어놓을 경우 법적 주먹이 들어갈 수있습니다. 조심해라</strong></div>
                    <div class="form">
                        <form method="post">
                            <div class="fields">
                                <div class="field">
                                    <input name="replyContents" id="replyContents" type="text" placeholder="채팅 쳐" />
                                </div>
                            </div>
                            <ul class="actions special">
                                <li><button class="button">완료</button></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partial/footer %>
    </body>
</html>
