<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <% include ../partial/header %>
        <% if(show == "true"){%>
            <script> var message="<%=message%>" </script>
            <% include ../partial/temp %> <% } %>
        <div id="main">
            <div class="wrapper">
                <div class="inner">
                    <h3>LOGIN</h3>
                    <form method="POST">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="email" placeholder="aaa@gmail.com" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                            <input type="password" name="password" placeholder="비번" />
                            </div>
                            <ul class="actions special">
                                <li><button>Submit</button></li>
                            </ul>

                        </div>
                    </form>
                
                    
                    <ul class="actions stacked">
                        <li><a href="/users/signup" class="button fit">회원가입 바로가기</a></li>
                    </ul>
                </div>
            </div>  
        <% include ../partial/footer %>
    </body>
</html>
