<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <% include ../partial/header %>
        <div id="main">
            <div class="wrapper">
                <div class="inner">
                    <h3>UPDATE</h3>
                    <div class="content">
                        <div class="form">
                            <form method="POST" enctype="multipart/form-data">
                                <div class="fields">
                                    <div class="field">
                                        <input name="title" id="title" name="title" type="text" placeholder="제목" />
                                    </div>

                                    <span class="image fit"><img src="#" id="preview" alt="" /></span>
                                    <div class="field">
                                        <textarea id="message" name="contents" rows="6" placeholder="내용"> </textarea>
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="inputfile">사진 첨부하기 </label>
                                    <br />
                                    <input type="file" class="uploadfile" name="img" />
                                </div>

                                <ul class="actions special">
                                    <li><button class="button">완료</button></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partial/footer %>
    </body>
</html>
