<!DOCTYPE html>
<html>
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <% include ../partial/header %> <% if(show == "true"){%>
        <script>
            var message = "<%=message%>";
        </script>
        <% include ../partial/temp %> <% } %>
        <div id="main">
            <div class="wrapper">
                <div class="inner">
                    <header class="major">
                        <h1><%= title %></h1>
                        <p>My test server</p>
                    </header>
                    <% if(session.username=="admin"){ %>
                    <div style="text-align: center;">
                        <h1><a href="/admin">admin page </a></h1>
                    </div>

                    <% } %>
                </div>
            </div>
        </div>
        <% include ../partial/footer %>
    </body>
</html>
